<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script type="text/javascript" src="../..//node_modules/jquery/dist/jquery.js"></script>
  <script type="text/javascript" src="/javascripts/main.js"></script>
</head>

<body>
  <div>
    <button id="clickMe">Click me</button>
    
  </div>
</body>

</html>